---
import SplitCard from "@/landing/components/SplitCard.astro";
---
<section class="py-10">
  <h3 class="text-2xl font-light text-center mb-6">GESTIONA TU APRENDIZAJE EN EL SEMILLERO DIGITAL</h3>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 px-4 place-items-center mt-50">
    <SplitCard
      text="¿COMUNICACIÓN POCO CLARA? RECIBE"
      spanText="NOTIFICACIONES"
      image="/images/card-example-1.webp"
      href="/login"
      label="¡Recibe notificaciones!"
    />

    <SplitCard
      text="¿MÉTRICAS COMPLICADAS? VISUALIZA TUS"
      spanText="DATOS"
      image="/images/card-example-2.webp"
      href="/login"
      label="¡Visualiza tus datos!"
    />
  </div>
</section>